* {
    background-color: black;
    color: white;
}

#testL {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}
