@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7.ttf);
}

* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

#inner {
    border-radius: 220px 220px 220px 220px;
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 40px;
    z-index: 2;
    top: 25px;
    left: 25px;
    background-color: midnightblue;
}

#cont {
    border-radius: 220px 220px 220px 220px;
    position: absolute;
    background-color: black;
    width: 350px;
    height: 350px;
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
    z-index: 2;
    top: 25px;
    left: 25px;
}

#conteiner {
    padding-top: 50px;
}

#outerAnimation {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 25px;
    left: 25px;
    margin-top: 75px;
}

#innerAnimation {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 220px 220px 220px 220px;
}

input,
#box,
#boxTimerAll {
    font-family: digital-7;
    font-size: 22px;
}

.animateW:before,
.animateW:after,
.animateR:before,
.animateR:after {
    position: absolute;
    content: '';
}

.animateW {
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 0 13px white;
    transform: translateZ(0);
    margin: 40px auto;
    width: 500px;
    height: 500px;
}

.animateW:before {
    width: 260px;
    height: 510px;
    background: black;
    border-radius: 50% 0 0 50%;
    top: -5px;
    left: -5px;
    transform-origin: 260px 255px;
    animation: animation 15s linear 2s;
    z-index: -1;
}

.animateW:after {
    width: 260px;
    height: 510px;
    background: black;
    border-radius: 0 50% 50% 0;
    top: -5px;
    left: 260px;
    transform-origin: 0px 260px;
    animation: animation 15s linear;
    z-index: -1;
}

.animateR {
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 0 0 0 13px white;
    transform: translateZ(0);
    margin: 40px auto;
    width: 450px;
    height: 450px;
}

.animateR:before {
    width: 234px;
    height: 450px;
    background: black;
    border-radius: 50% 0 0 50%;
    top: -4.5px;
    left: -4.5px;
    transform-origin: 234px 229.5px;
    animation: animation 7s linear 2s;
    z-index: 0;
}

.animateR:after {
    width: 234px;
    height: 450px;
    background: black;
    border-radius: 0 50% 50% 0;
    top: -4.5px;
    left: 234px;
    transform-origin: 0px 234px;
    animation: animation 7s linear;
    z-index: 0;
}

@keyframes animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
